/*    _____  __          __
*    / ___/ / /_ __  __ / /___   _____
*    \__ \ / __// / / // // _ \ / ___/
*   ___/ // /_ / /_/ // //  __/(__  )
*  /____/ \__/ \__, //_/ \___//____/
*             /____/
*/

/* ==============================================
 *  Catppuccin Mocha Colors
 * ============================================== */

@define-color rosewater #f5e0dc;
@define-color flamingo  #f2cdcd;
@define-color pink      #f5c2e7;
@define-color mauve     #cba6f7;
@define-color red       #f38ba8;
@define-color maroon    #eba0ac;
@define-color peach     #fab387;
@define-color yellow    #f9e2af;
@define-color green     #a6e3a1;
@define-color teal      #94e2d5;
@define-color sky       #89dceb;
@define-color sapphire  #74c7ec;
@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color text      #cdd6f4;
@define-color subtext1  #bac2de;
@define-color subtext0  #a6adc8;
@define-color overlay2  #9399b2;
@define-color overlay1  #7f849c;
@define-color overlay0  #6c7086;
@define-color surface2  #585b70;
@define-color surface1  #45475a;
@define-color surface0  #313244;
@define-color base      #1e1e2e;
@define-color mantle    #181825;
@define-color crust     #11111b;

/* ==============================================
 *  General
 * ============================================== */

* {
  font-family: JetBrainsMono Nerd Font, sans-serif;
  border: none;
  border-radius: 0px;
}

window#waybar {
  background: transparent;
}

label.module {
  font-size: 16px;
  color: @text;
}

/* ==============================================
 * App Launcher
 * ============================================== */

#custom-launcher {
  font-size: 22px;
  background-color: @flamingo;
  border-radius: 15px;
  padding-left: 2px;
  color: @mantle;
}

/* ==============================================
 * Taskbar
 * ============================================== */

#taskbar {
}

#taskbar button {
    border-radius: 8px;
}

#taskbar button:hover {
}

#taskbar.empty {
}

/* ==============================================
 * Active Window
 * ============================================== */

#window {
  font-weight: 900;
  border-radius: 25px;
  background-color: alpha(@surface0, 0.7);
  color: @text;
  padding: 2px 20px;
}

/* ==============================================
 * Workspaces
 * ============================================== */

#workspaces {
  background-color: alpha(@surface1, 0.6);
  border-radius: 25px;
  padding: 2px 12px;
}

#workspaces button {
  font-weight: 700;
  background-color: alpha(@flamingo, 0.5);
  color: @mantle;
  margin: 3 2;
  border-radius: 12;
  padding: 0px 4px;
}

#workspaces button.active {
  background-color: @flamingo;
  padding: 0px 10px;
  border: none;
}

#workspaces button.active label {
  color: @mantle;
}

#workspaces button.urgent {
  box-shadow: inset 0 0 0 2 @red;
}

/* ==============================================
 * System Monitor Group
 * ============================================== */

#custom-system {
  background-color: transparent;
  padding: 0px 8px;
  border-radius: 0px 25px 25px 0px;
}

#cpu,
#memory,
#temperature {
  margin: 4px;
  padding: 0px 5px;
  background-color: alpha(@surface0, 0.7);
  border: 2px solid @lavender;
  border-radius: 25px;
}

/* ==============================================
 * Tray
 * ============================================== */

#tray {
  background-color: alpha(@surface0, 0.7);
  border-radius: 25px;
  padding: 2px 6px;
}

/* ==============================================
 * Network
 * ============================================== */

#network {
  background-color: alpha(@surface0, 0.7);
  padding: 0px 8px;
  border-radius: 25px;
}

#network.disconnected {
  border: none;
  background-color: @red;
  color: @mantle;
}

/* ==============================================
 * Audio
 * ============================================== */

#wireplumber {
  background-color: alpha(@surface0, 0.7);
  border-radius: 25px;
  padding: 0px 8px;
}

#wireplumber.sink-muted {
  background-color: @lavender;
  color: @mantle;
}

#wireplumber-source.source-muted {
  background-color: @lavender;
  color: @mantle;
}

/* ==============================================
 * Clock
 * ============================================== */

#clock {
  background-color: @flamingo;
  color: @mantle;
  border-radius: 15px;
  padding: 0px 8px;
}
